body {
    background-color: #a19fa2;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
}

h2 {
    margin: 0 0 10px;
    font-size: 35px;
}

select {
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: rgb(221, 151, 46) 0px 7px 29px 0px;
    border-radius: 10px;
}

.city {
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px rgba(0, 0, 0, 0.2);
    
}

.date {
    opacity: 0.6;
}

.time {
    font-size: 25px;
    font-weight: bold;
    float: right;
    line-height: 2px;
       
}


.time-card.selected{
    max-width: 500px;
    margin:0 auto;
    

}

.home-link{
    font-size:15px;
    font-weight:bold;
    color:rgb(137, 91, 6);
    line-height:50px;
}

a{
    color:rgb(137, 91, 6);


}
.footer {
    text-align: center;
    font-size: 15px;

    

   
}
